<h2> Atividades prática I </h2> 

<h3> Nome: João Marcos Alves Modesto Ramos
<h3> Matricula: 3506

<h3> 1. Gerar uma Serie com 500 valores aleatórios entre -1000 e 1000, e imprimir o seguinte: </h3>

In [5]:
import pandas as pd
import numpy as np
import random as rd

In [30]:
valores = pd.Series(rd.sample(range(-1000,1000),500))
valores

0      168
1      863
2      786
3     -173
4      773
      ...
495   -808
496    850
497    610
498   -584
499    731
Length: 500, dtype: int64

<h3>a) O maior e o menor valor </h3>

In [31]:
valores.max() #Mostra o maior valor

995

In [32]:
valores.min() #Mostra o menor valor

-994

<h3>b) Somente os valores positivos</h3>

In [33]:
valores[valores > 0]  #Colocando uma cláusula dentro da seleção de valores

0      168
1      863
2      786
4      773
5        3
      ...
492    991
494    651
496    850
497    610
499    731
Length: 240, dtype: int64

<h3> c) Somente os valores ímpares</h3>

In [34]:
valores[valores % 2 != 0]  #Colocando uma cláusula dentro da seleção de valores

1      863
3     -173
4      773
5        3
6      293
      ...
485    733
488     73
492    991
494    651
499    731
Length: 256, dtype: int64

<h3> d) Os valores das posições/índices de 50 a 100, inclusive </h3>

In [36]:
valores[50:101] #Seleção entre valores, sendo que o primeiro elemento é intervalo fechado e o segundo intervalo aberto

50    -694
51     418
52     614
53    -405
54     666
55    -346
56    -273
57     531
58     366
59    -568
60    -364
61    -434
62     671
63     713
64     802
65    -989
66     101
67    -235
68    -630
69     809
70    -376
71    -363
72    -994
73    -460
74     716
75     115
76    -658
77     568
78     126
79    -201
80    -917
81    -297
82     759
83    -255
84     510
85     849
86     466
87     241
88    -564
89     180
90     499
91     598
92    -585
93     123
94    -850
95      20
96     574
97    -977
98     242
99    -882
100    350
dtype: int64

<h3> e) A quantidade de valores pares

In [40]:
valores[valores % 2 == 0].count()  #Encadeamento da função count no resultado da seleção

244

<h3> f) A quantidade de valores maiores que 500

In [48]:
valores[valores > 500].count()

128

<h3> e) Os valores maiores que 500 e menores que 700

In [51]:
valores[(valores > 500) & (valores < 700)] #Encadeamento de cláusulas

19     657
29     664
35     516
52     614
54     666
57     531
62     671
77     568
84     510
91     598
96     574
112    584
117    558
119    572
122    512
136    638
182    555
203    605
229    696
233    680
267    534
287    683
288    528
289    654
297    580
306    570
309    539
315    587
316    675
326    682
328    679
348    581
355    561
365    579
368    592
388    678
391    504
392    637
394    662
398    674
400    589
407    633
416    609
419    641
424    632
427    514
430    697
448    591
477    511
479    688
480    607
482    624
494    651
497    610
dtype: int64

<h3> f) A raiz quadrada de todos os valores

In [55]:
valores.pow(1/2) #Todo número elevado a 1/2 -> Sua raiz quadrada

0      12.961481
1      29.376862
2      28.035692
3            NaN
4      27.802878
         ...
495          NaN
496    29.154759
497    24.698178
498          NaN
499    27.037012
Length: 500, dtype: float64